*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
    background-color: #373737;
}

header{
    height: 72px;
    width: 100%;

    background-color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 8px 24px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-logo{
    width: 48px;
    height: 48px;
    background-color: #ccc;
    border-radius: 10px;
}

.nav-menu{
    list-style: none;
    display: flex;
}

.nav-item{
    margin: 0px 16px;
}

.nav-link{
    display: inline-block;

    padding: 8px 16px;
    text-decoration: none;
    color: #ccc;
    transition: .7s ease;
}

.nav-link:hover{
    opacity: 0.8;
}

.container{
    max-width: 1440px;
    margin: 0 auto;

    padding: 8px 16px;

    display: flex;
    flex-direction: row;
  /*  flex-wrap: wrap; */
}

@media screen and (max-width: 960px){
    .container{
        flex-direction: column;
    }
    
}

 .container-itm-1{

    flex: 6 1 600px;
    margin-right: 8px;
    padding: 16px 0px;
 }

.container-itm-2{
    padding: 16px 0px;
    flex: 1 1 auto;
    margin-left: 8px;
        
 }

.video-main{
    background-color: #ccc;
    height: 340px;
    border-radius: 10px;
    margin: 5px 8px;
    width: 100%;
}

 .h3{
    line-height: 130%;
    margin: 4px 0px;
    color: white;
 }

 p{
    color:#777;
 }


.video-side{
    display: flex;
    margin-bottom: 16px;
}

.thumb{
    width: 150%;
    height: 100px;

    border-radius: 10px;

    margin-right: 8px;
    background-color: #ccc;
    flex: 1 1 auto;
}

.description{
    flex: 1 1 auto;
    margin-left: 8px;
}